.sidebar__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding: 20px;

    &-title {
        font-size: 30px;
        color: var(--text-main);
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &-bio {
        font-size: var(--fs-md);
        color: var(--text-gray);
        margin-bottom: 20px;
    }
}