.box__create {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;

    &-open {
        flex: 1;
        background-color: #F0F2F5;
        padding: 12px 10px;
        border-radius: 50px;
        cursor: pointer;

        & span {
            font-size: var(--fs-md);
            color: #656780;
            margin-left: 5px;
        }
    }

    &-icon {
        font-size: 40px;
        padding: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
}