$header-height: 55px;
$font: 'Roboto',
sans-serif;

$main-bg: #fff;
$main-color: #2083F8;
$main-dark-color: #1475eb;
$main-light-color: #4094fa;
$white-color: #FFFFFF;
$gray-hover: #F2F2F2;

$txt-main: #333;
$txt-gray: #8D8D8D;
$txt-white: #FFF;

$fs-lg: 2rem;
$fs-md: 1.6rem;
$fs-sm: 1.3rem;